.digital {
  .card-wrapper {
    display: grid;
    padding: 30px 40px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @include max(767px) {
      grid-template-columns: 1fr;
    }
  }
}
