/*

    Tamplate Name: Alex.
    version:1.1.
    author:monirkm.
    
    Content of Tamplate
============================
    1.menu Part
    2.banner part
    3.introduction part
    4.cause part
    5.event part
    6.member part
    7.partner part
    8.footer Part

*/

/*
Genaral Css Start
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Epilogue', sans-serif;
}

p,
span,
a {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}




a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

$primay-color :#29D882;
$header-p :#21272F;

.common--header {
    &--subtitle {
        font-size: 12px;
        color: $header-p;
        font-family: 'Epilogue';
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 0;
    }

    &--title {
        font-size: 48px;
        color: $primay-color;
        font-family: 'Epilogue';
        font-weight: 700;
    }
}



/*Genaral Css End*/


.btnn-primary {
    background-color: $primay-color;
    border: 0;
    color: #fff;
    font-family: 'Epilogue';
    letter-spacing: 1px;
    border-radius: 5px;

}

.btnn-border-light {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
}

.btnn-border-dark {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
}

