.digital {
  .card-wrapper {
    display: grid;
    padding: 30px 40px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @include max(767px) {
      grid-template-columns: 1fr;
    }
  }
}

.completa {
  &-info {
    padding: 20px 40px;
    padding-bottom: 0px;
    &-title {
      text-transform: capitalize;
      padding-bottom: 13px;
    }

    &-title,
    ul li {
      font-size: 12px;
      line-height: 21px;
      color: #fff;
    }
    ul {
      padding-left: 12px;
    }
    ul li {
      list-style: disc;
    }
  }
}
