.section {
  padding: 24px 0px;
  position: relative;
  z-index: 1;
  &-title {
    position: relative;
    font-size: 18px;
    color: color(primary);
    line-height: 21px;
    font-family: $bold;
    text-transform: uppercase;
    padding: 0px 15px;
    padding-bottom: 16px;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 162px;
      background-color: color(primary);
      height: 4px;
    }
  }
  &-subtitle {
    font-size: 14px;
    line-height: 21px;
    font-family: $bold;
    color: color(secondary);
    margin-top: 16px;
    padding: 0px 18px;
  }

  &-sitename {
    font-size: 24px;
    line-height: 21px;
    font-family: $bold;
    text-align: center;
    padding-bottom: 30px;
    color: #00b0ff;
    opacity: 0.2;
    text-transform: uppercase;
    text-transform: lowercase;
  }

  &-info-text {
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    padding: 18px 40px;
  }
}
